= form_for current_user.company , :remote => true,  :html => {class: 'form form-horizontal'} do |f|
  %legend
    Почтовые ящики для отправки уведомлений о появлении нового осмотра
  - 5.times do |i|
    .control-group
      .controls
        = email_field_tag 'company[new_schedule_emails][]', current_user.company.new_schedule_emails[i]
  = f.submit 'Записать'
