.container#selector
  %legend
    Запись на осмотр
  #schedule-city-selection
    %form.form-horizontal
      .control-group
        .control-label
          Выбирете город:
        .controls
          #inputType.select.btn{"data-name" => 'city'}
            .option.selected
              &nbsp;
            .option{"data-value" => "Челябинск"}
              Челябинск
            .option{"data-value" => "Екатеринбург"}
              Екатеринбург
            .option{"data-value" => "Магнитогорск"}
              Магнитогорск






  #schedule-company-selector{style: 'display: none;'}
    %form.form-horizontal
      .control-group
        .control-label
          Выбирете центр:
        .controls
          #inputType.select.btn{"data-name" => 'center'}
            
              


.container#scheduler{style: 'display: none;'}
