<!DOCTYPE HTML>

<!--[if IE 7]><html class="ie7"><![endif]-->

<!--[if IE 8]><html class="ie8"><![endif]-->

<!--[if gt IE 8]><!-->

<html>

<!--<![endif]-->

<head>

    <title>Rosfax.ru - независимый осмотр и оценка реального состояния автомобиля.</title>

    <%= stylesheet_link_tag 'home.css' %>
    <%= javascript_include_tag '_home' %>
    
    <!--[if lt IE 9]>

        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <![endif]-->

</head>

<body>

<div id="page">

    <header id="head">

        <div id="logo">

            <a href="#"><img src="<%= asset_path 'home/logo.png'%>" width="191" height="78" /></a>

        </div>

        <div id="top_menu">

            <ul class="ul_reset">

                <li><a href="#">Как работает Rosfax</a></li>

                <li><a href="#">Отзывы</a></li>

                <li><a href="#">Проверенные авто</a></li>

                <li><a href="#">Пункты осмотра</a></li>

            </ul>

        </div>

        <div id="request">

            <a href="#">Запись на осмотр</a>

        </div>

        <div id="top_text">

            <ul id="slider">

                <li>

                    <div>

                        <h3>Что такое Rosfax?</h3>

                        Независимый осмотр и оценка реального состояния автомобиля.  

                    </div>

                </li>

                <li>

                    <div>

                        <h3>Что проверяет Rosfax?</h3>

                        Кузов. Салон. Электрика. Двигатель и трансмиссия. Подвеска и ходовая часть. Документы и комплектность. 

                    </div>

                </li>

                <li>

                    <div>

                        <h3>Что я получаю?</h3>

                        Понятный отчет о реальном состоянии автомобиля + около 50 фотографий авто и обнаруженных дефектов.

                    </div>

                </li>

                <li>

                    <div>

                        <h3>Кто проводит осмотр?</h3>

                        Сотрудники официальных дилеров прошедшие обучение и аттестацию Rosfax. Осмотр проводится на территории дилерского центра. 

                    </div>

                </li>

                <li>

                    <div>

                        <h3>Сколько стоит Rosfax?</h3>

                        Обычная цена 2000 руб. но до лета действует Специальное предложение 1000 руб!  

                    </div>

                </li>

            </ul>

        </div>

        <div class="menu">

            <ul class="ul_reset">

                <li class="m1"><a href="#">Как купить хороший автомобиль</a></li>

                <li class="m2"><a href="#">Как записаться на просмотр</a></li>

                <li class="m3"><a href="#">Как быстро и выгодно продать авто</a></li>

                <li class="m4"><a href="#">Узнай первым о новых авто в продаже</a></li>

            </ul>

        </div>

    </header>

    <div id="main">

        <div class="wrapper">

            <section class="last_auto">

                <header>Последние авто:</header>

                <ul class="ul_reset">
                    <%- for report in @reports %>
                        <li>

                            <%= image_tag report.assets.first.url(:thumb), width: 118, height: 88, style: 'border-radius: 6px;' %>
                            <%= link_to "
                                #{report.model.brand.name}
                                #{report.model.name}
                                #{(report.year.to_s + ' г.') if report.year}
                                ", report_path(report) %>
                            <br/>
                            <% if report.car %>
                                <% if report.car['mileage'] %>
                                    <%= "#{report.car['mileage']} км." %>
                                <% end %>
                            <% end %>

                            <br /> 
                            <%= report.company.city if report.company %>

                        </li>
                    <% end -%>
                </ul>

            </section>

            <article class="about">

                <h1>Что проверяет Rosfax?</h1>

                <h3>Кузов</h3>

                <p>Самая дорогостоящая часть автомобиля. Основные пункты проверки - отсутствие в истории серьезных ДТП повлекших изменение геометрических параметров кузова, состояние лакокрасочного покрытия, проверка на наличие дефектов элементов кузова...</p>

                <h3>Салон</h3>

                <p>Осмотр элементов интерьера на дефекты, отсутствие следов срабатывания подушек безопасности, а также следов затопления или пожара. Визуальная оценка соответствия состояния салона заявленному пробегу...</p>

                <h3>Электрика</h3>

                <p>Работоспособность штатного бортового оборудования. Правильность индикации сигнальных ламп и приборной панели. Функционирование климатической установки и систем мультимедиа...</p>

                <h3>Двигатель и трансмиссия</h3>

                <p>Запуск, работа на холостом ходу и набор оборотов. Отсутствие посторонних шумов и дымности. Плавность переключения передач. Работа сцепления и/или селектора передач. Визуальный осмотр на предмет утечек жидкостей... </p>

                <h3>Подвеска и ходовая часть</h3>

                <p>Увод руля при прямолинейном движении. Биение и вибрации на разгоне и торможении. Скрипы и стуки при проезде неровностей и при круговом движении...</p>

                <h3>Документы и комплектность</h3>

                <p>Происхождение ПТС. Количество владельцев. Наличие секреток, сервисной книги, дополнительных ключей, домкрата, инструментов, брелоков Webasto и дополнительной сигнализации...</p>

            </article>

            <div class="clr"></div>

        </div>

        <div class="wrapper">

            <div class="how_much">

                <h4>Сколько стоит Rosfax?</h4>

                <div class="price">

                    <span>1000 р</span><br />

                    до 1 июня 2013

                </div>

                До лета действует специальное предложение. Обычная цена 2000 руб. минус скидка 50%.

            </div>

            <div class="order">

                <h4>Как пройти осмотр?</h4>

                <p>Запишитесь на осмотр онлайн - в 2 клика! Выберите ближайший центр Rosfax, удобную дату/время и оставьте Ваш номер телефона. Вуаля! Вас уже ждут. Приезжайте! </p>

                <div class="order_link">

                    <a href="#">Запись на осмотр</a>

                </div>

            </div>

            <div class="clr"></div>

        </div>

    </div>

    <div class="menu">

        <ul class="ul_reset">

            <li class="m5"><a href="#">Как работает Rosfax</a></li>

            <li class="m6"><a href="#">Проверенные авто</a></li>

            <li class="m7"><a href="#">Отзывы</a></li>

            <li class="m8"><a href="#">Пункты осмотра</a></li>

        </ul>

        <div class="clr"></div>

    </div>

    <footer id="footer">

        &copy; 2009-2013 «Росфакс»

        <div id="search">

            <input type="text" placeholder="search" />

        </div>

        <div id="soc">

            <ul class="ul_reset">

                <li><img src="<%= asset_path 'home/tw.png' %>" width="40" height="39" /></li>

                <li><img src="<%= asset_path 'home/yt.png' %>" width="39" height="38" /></li>

                <li><img src="<%= asset_path 'home/fb.png' %>" width="40" height="39" /></li>

            </ul>

        </div>

    </footer>

</div>

<div id="number">

    <a href="#"><img src="<%= asset_path 'home/number.png' %>" width="144" height="121" /></a>

</div>

<div id="catalog">

    <a href="#"><img src="<%= asset_path 'home/catalog.png' %>" width="182" height="334" /></a>

</div>
<%= render 'yandex_metrika' %>
</body>

</html>
