.container{:style => 'margin-top: 40px'}
  .hero-unit
    .row
      .span4
        = image_tag 'car.png', :style => 'width: 90xp; height: 246px; margin-top: 12px'
      .span6{:style => 'margin-top: 84px'}
        %h2 Rosfax.ru - проверенные авто