.tab_pane{:id => "tab_#{tab}"}
  .accordion{style: 'background-color: white'}
    .accordion-group
      .accordion-heading
        .row-fluid
          .span10
            .accordion-toggle{id: "tab_#{tab}", data: {toggle: :collapse, target: "##{tab}"}}
              %h4 Ссылки
      .accordion-body.collapse.in{id: tab}
        .accordion-inner
          .form-horizontal
            / = render report.links
          - for site in %w(e1 autochel drom)
            = render 'links/form', :site => site, :report => @report


                  

