body {
  overflow-x: hidden;
}
#dropZone {
  color:                 #555;
  font-size:             18px;
  text-align:            center;

  width:                 400px;
  padding:               50px 0;
  margin:                50px auto;

  background:            #eee;
  border:                1px solid #ccc;

  -webkit-border-radius: 5px;
  -moz-border-radius:    5px;
  border-radius:         5px;
}

#dropZone.hover {
  background:   #ddd;
  border-color: #aaa;
}

#dropZone.error {
  background:   #faa;
  border-color: #f00;
}

#dropZone.drop {
  background:   #afa;
  border-color: #0f0;
}

.dropdown-element {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: rgb(51, 51, 51);
  white-space: nowrap;
  cursor: pointer;
}

.add-on {
  cursor: pointer;
}

.processing_image {
  float: left;
  margin: 0.5px;
  width: 100px;
  height: 67px;
}
.image{
  float: left;
  margin: 0.5px;
  img{
    width: 100px;
    height: 67px;
  }
}


.fileinput-button {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 4px;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}
.files .progress {
  width: 200px;
}
.progress-animated .bar {
  background: url(../img/progressbar.gif) !important;
  filter: none;
}
.fileupload-loading {
  position: absolute;
  left: 50%;
  width: 128px;
  height: 128px;
  background: url(../img/loading.gif) center no-repeat;
  display: none;
}
.fileupload-processing .fileupload-loading {
  display: block;
}

/* Fix for IE 6: */
* html .fileinput-button {
  line-height: 24px;
  margin: 1px -3px 0 0;
}

/* Fix for IE 7: */
* + html .fileinput-button {
  padding: 2px 15px;
  margin: 1px 0 0 0;
}

@media (max-width: 767px) {
  .files .btn span {
    display: none;
  }
  .files .preview * {
    width: 40px;
  }
  .files .name * {
    width: 80px;
    display: inline-block;
    word-wrap: break-word;
  }
  .files .progress {
    width: 20px;
  }
  .files .delete {
    width: 60px;
  }
}