.controls{:style => 'margin-left: 9px'}
  -{1 => [158,133, 'front_left_wing'],
     2 => [356,133, 'front_left_door'],
     3 => [465,133, 'rear_left_door'],
     4 => [634,133, 'rear_left_wing'],
     5 => [158,573, 'front_right_wing'],
     6 => [356,573,'front_right_door'],
     7 => [465,573, 'rear_right_door'],
     8 => [634,573, 'rear_right_wing'],
     9 => [230,351, 'front'],
     10 => [712,351,'rear'],
     11 => [436,351, 'roof']}.each do |key, value|
    .btn-toolbar.pull-left{:style => "width: 200px; margin-top: 0px; position: absolute; margin-top: #{value[0]-87}px;margin-left: #{value[1]-156}px"}
      .btn-group.pads.radio
        - parameters = {:report_id => @report.id, :object => 'check', :section => 'coating', :place => value[2]}
        = parameters
        - if check = @points.where(parameters).first()
          - parameters[:id] = check.id
        - ['100', '200', '300', '400+'].each do |i|
          - parameters[:condition] = i
          %button.check.btn.btn-mini{:data => parameters, :class => ('btn-primary' if check.condition == i if check)}= i
