/ = image_tag 'https://s3-eu-west-1.amazonaws.com/rosfax/coating.jpg'
.controls{:style => 'margin-left: 9px'}
  -{1 => [158,133, 'front-left-wing'],2 => [356,133, 'front-left-door'],3 => [465,133, 'rear-left-door'],4 => [634,133, 'rear-left-wing'],
    5 => [158,573, 'front-right-wing'], 6 => [356,573,'front-right-door'], 7 => [465,573, 'rear-right-door'], 8 => [634,573, 'rear-right-wing'],
    9 => [230,351, 'front'], 10 => [712,351,'rear'], 11 => [436,351, 'roof']}.each do |key, value|
    .btn-toolbar.pull-left{:style => "width: 200px; margin-top: 0px; position: absolute; margin-top: #{value[0]-87}px;margin-left: #{value[1]-156}px"}
      .btn-group.pads.radio
        - ['100', '200', '300', '400+'].each do |i|
          %button.checkbox.btn.btn-mini{:data => {:attribute => 'coating',:place => value[2], :change => 'depth', :depth => i}, :class => ('btn-primary' if report.coating[value[2]]['depth'] == i if report.coating[value[2]])}=i

