.span6
  .well
    .form-horizontal
      .control-group
        %label.control-label Запасное колесо:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn 1
              %button.btn 2
              %button.btn 3
      .control-group
        %label.control-label Домкрат:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn 1
              %button.btn 2
              %button.btn 3
      .control-group
        %label.control-label Инструменты:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn 1
              %button.btn 2
              %button.btn 3
      .control-group
        %label.control-label Герметик:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn 1
              %button.btn 2
              %button.btn 3
      .control-group
        %label.control-label Компрессор:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn 1
              %button.btn 2
              %button.btn 3
      .control-group
        %label.control-label Ключ замка КПП:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn 1
              %button.btn 2
              %button.btn 3
.span6
  .well
    .form-horizontal
      .control-group
        %label.control-label Серкретка от колес:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn 1
              %button.btn 2
              %button.btn 3
      .control-group
        %label.control-label Брелок сигнализации:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn 1
              %button.btn 2
              %button.btn 3
      .control-group
        %label.control-label Брелок WEBASTO:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn 1
              %button.btn 2
              %button.btn 3
      .control-group
        %label.control-label Ключ от блокиратора:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn 1
              %button.btn 2
              %button.btn 3
