#defects.tab-pane.left
  .tabbable{:style => "margin-bottom: 18px;"}
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#compiled"} Все дефекты
      %li
        %a{"data-toggle" => "tab", :href => "#exterior"} Экстерьер
      %li
        %a{"data-toggle" => "tab", :href => "#interior"} Интерьер
      %li
        %a{"data-toggle" => "tab", :href => "#under_the_hood"} Под капотом
      %li
        %a{"data-toggle" => "tab", :href => "#other_photos"} Прочее
      %li
        %a{"data-toggle" => "tab", :href => "#wheels"} Колеса
      %li
        %a{"data-toggle" => "tab", :href => "#dumpers"} Видео
    .tab-content.second{:style => "padding-bottom: 9px; border-bottom: 1px solid #ddd"}
      #compiled.tab-pane.active
        = render 'reports/defects/compiled'