.span6
  .well
    %legend Заголовок 1
    .form-horizontal
      - %w( glass_elevators central_locking seat_drive seat_heat mirrors hatch).each do |param|
        .control-group
          %label.control-label= t("checklist.electronic.#{param}").to_s+ ':'
          .controls
            .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
              .btn-group.pads.radio
                -%w(ок проблемы н/п).each do |i|
                  %button.checkbox.btn{:data => {:attribute => :checklist, :place => :electronic, :change => param, param => i}}=i
.span6
  .well
    %legend Заголовок 2
    .form-horizontal
      - %w( climat radio adjustable_wheel closer_rain_sensor parktronic seat_belt).each do |param|
        .control-group
          %label.control-label= t("checklist.electronic.#{param}").to_s+ ':'
          .controls
            .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
              .btn-group.pads.radio
                -%w(ок проблемы н/п).each do |i|
                  %button.checkbox.btn{:data => {:attribute => :checklist, :place => :electronic, :change => param, param => i}}=i
