.span6
  %h5 Переднее освещение
  .well
    .form-horizontal
      .control-group
        %label.control-label Стеклоподъемники:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn 1
              %button.btn 2
              %button.btn 3
      .control-group
        %label.control-label Центральный замок:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn 1
              %button.btn 2
              %button.btn 3
      .control-group
        %label.control-label Приводы сидений:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn 1
              %button.btn 2
              %button.btn 3
      .control-group
        %label.control-label Пподогрев сидений:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn 1
              %button.btn 2
              %button.btn 3
      .control-group
        %label.control-label Регулировка/обогрев зеркал:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn 1
              %button.btn 2
              %button.btn 3
      .control-group
        %label.control-label Люк:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn 1
              %button.btn 2
              %button.btn 3
.span6
  %h5 Переднее освещение
  .well
    .form-horizontal
      .control-group
        %label.control-label Климат/Кондиционер:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn 1
              %button.btn 2
              %button.btn 3
      .control-group
        %label.control-label Радио/NAVI:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn 1
              %button.btn 2
              %button.btn 3
      .control-group
        %label.control-label Регулировка руля:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn 1
              %button.btn 2
              %button.btn 3
      .control-group
        %label.control-label Доводчик/Датчик дождя:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn 1
              %button.btn 2
              %button.btn 3
      .control-group
        %label.control-label Парктроник/Камера:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn 1
              %button.btn 2
              %button.btn 3
      .control-group
        %label.control-label Ремни безопасности:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn 1
              %button.btn 2
              %button.btn 3
