#lF.tab-pane
  .tabbable{:style => "margin-bottom: 18px;"}
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#exterior"} Экстерьер
      %li
        %a{"data-toggle" => "tab", :href => "#windows_lights"} Стекла и фары
      %li
        %a{"data-toggle" => "tab", :href => "#powertrain"} Трансмиссия
      %li
        %a{"data-toggle" => "tab", :href => "#electric"} Электрика
      %li
    .tab-content{:style => "padding-bottom: 9px; border-bottom: 1px solid #ddd;"}
      #exterior.tab-pane.active
        ext
      #windows_lights.tab-pane.active
        wind
      #powertrains.tab-pane.active
        trains
      #electric.tab-pane.active
        electric
