.span6
  %h5 Переднее освещение
  .well
    .form-horizontal
      .control-group
        %label.control-label Ближний свет:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn 1
              %button.btn 2
              %button.btn 3
      .control-group
        %label.control-label Дальний свет:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn 1
              %button.btn 2
              %button.btn 3
      .control-group
        %label.control-label Противотуманки:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn 1
              %button.btn 2
              %button.btn 3
      .control-group
        %label.control-label Габариты:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn 1
              %button.btn 2
              %button.btn 3
      .control-group
        %label.control-label Поворотники:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn 1
              %button.btn 2
              %button.btn 3
.span6
  %h5 Переднее освещение
  .well
    .form-horizontal
      .control-group
        %label.control-label Тормоза:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn 1
              %button.btn 2
              %button.btn 3
      .control-group
        %label.control-label Повторитель:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn 1
              %button.btn 2
              %button.btn 3
      .control-group
        %label.control-label Противотуманки:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn 1
              %button.btn 2
              %button.btn 3
      .control-group
        %label.control-label Габариты:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn 1
              %button.btn 2
              %button.btn 3
      .control-group
        %label.control-label Поворотники:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn 1
              %button.btn 2
              %button.btn 3
