.span12
  %h5 Уровни технических жидкостей
  .well
    .form-horizontal
      .control-group
        %label.control-label Двигатель:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn OK
              %button.btn -min
              %button.btn min
              %button.btn max
              %button.btn max+
      .control-group
        %label.control-label КПП:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn OK
              %button.btn -min
              %button.btn min
              %button.btn max
              %button.btn max+
      .control-group
        %label.control-label Антифриз:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn OK
              %button.btn -min
              %button.btn min
              %button.btn max
              %button.btn max+
      .control-group
        %label.control-label ГУР:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn OK
              %button.btn -min
              %button.btn min
              %button.btn max
              %button.btn max+
      .control-group
        %label.control-label Тормозная:
        .controls
          .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
            .btn-group.pads.radio
              %button.btn OK
              %button.btn -min
              %button.btn min
              %button.btn max
              %button.btn max+
