.span12
  %h5 Уровни технических жидкостей
  .well
    .form-horizontal
      - %w(engine transmission antifreeze power_steering brake fluid).each do |param|
        .control-group
          %label.control-label= t(param).to_s+ ':'
          .controls
            .btn-toolbar.pull-left{:style => 'margin-top: 0px'}
              .btn-group.pads.radio
                - %w(OK -min min max max+).each do |i|
                  %button.checkbox.btn{:data => {:attribute => :checklist, :place => :lights, :change => param, param => i}}=i

