#photo.tab-pane.left
  .tabbable{:style => "margin-bottom: 18px;"}
    %ul.nav.nav-tabs.second
      %li.active
        %a{"data-toggle" => "tab", :href => "#exterior"}
          Экстерьер
          %span{:style => 'color: #ddd'}=1
      %li
        %a{"data-toggle" => "tab", :href => "#interior"}
          Интерьер
          %span{:style => 'color: #ddd'}=1
      %li
        %a{"data-toggle" => "tab", :href => "#under_the_hood"}
          Под капотом
          %span{:style => 'color: #ddd'}=1
      %li
        %a{"data-toggle" => "tab", :href => "#photo_others"}
          Прочее
          %span{:style => 'color: #ddd'}=1
      %li
        %a{"data-toggle" => "tab", :href => "#video"}
          Видео
    .tab-content{:style => "padding-bottom: 9px; border-bottom: 1px solid #ddd;overflow: hidden;height: 750px"}
      #exterior.tab-pane.active
        = render 'reports/tabs/exterior'
      #interior.tab-pane
        = render 'reports/tabs/interior'
      #under_the_hood.tab-pane
        = render 'reports/tabs/under_the_hood'
      #photo_others.tab-pane
        = render 'reports/tabs/photo_others'
      #video.tab-pane
        Видео
