/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 
 *= require_self
 *= require jquery.ui.datepicker
 *= require bootstrap_and_overrides
 *= require_tree ./app
 
*/

@font-face {
  font-family: Trebuchet;
  src: url("tahoma.ttf");
}

/*@media (min-width: 960px) and (max-width: 1024px) {
  .modal {
    left: 34%;
    top: 41%;
  }
}*/

/*@media (min-width: 1200px)
  .modal
    left: 36%
    top: 41%
@media (min-width: 1680px)
  .modal
    left: 41%
    top: 41%


@media (min-width: 768px) and (max-width: 979px)
  .modal
    left: 1%
    top: 1%
@media (max-width: 767px)
  .modal
    left: 1%
    top: 1%
@media (max-width: 480px)
  .modal
    left: 1%
    top: 1%*/