@media (min-width: 1024px)
  .modal
    left: 9%
    top: 14%
@media (min-width: 1200px)
  .modal
    left: 15%
    top: 14%
@media (min-width: 1680px)
  .modal
    left: 25%
    top: 14%


@media (min-width: 768px) and (max-width: 979px)
  .modal
    left: 1%
    top: 1%
@media (max-width: 767px)
  .modal
    left: 1%
    top: 1%
@media (max-width: 480px)
  .modal
    left: 1%
    top: 1%