#modal_carousel.modal.hide{:style => 'overflow: hidden'}
  %button.close{'data-dismiss'=>"modal"}
  #myCarousel.carousel.slide{:style => 'padding: 5px'}
    .carousel-inner
      

    %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel", :style => 'top: 48%'} ‹
    %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel", :style => 'top: 48%'} ›
    %a.carousel-control.close.top-left{'data-dismiss' => 'modal', :href => "#myCarousel", :style => 'width: 30px; height: 29px; font-size: 24px; top: 7%; left: 93%; line-height: 24px'} x