.object_drop{:data => {:object => 'elements', :object_id => object.id}}
  .thumbnail{:style => 'width: 50px; float: left; margin-right: 5px; height: 35px; padding: 2px'}
    %a{:href => '#', :style => 'height: 68px; width: 100px'}
      - if object.images.any?
        .thumb{:data => {:image_id => object.image.id}}
          = image_tag(object.image.url(:thumb))
      - else
        .thumb
          = image_tag('http://s3-eu-west-1.amazonaws.com/rosfax/box.png')

