.object_drop{:data => {:object => object.object, :object_id => object.id}}
  .thumbnail{:style => 'width: 50px; float: left; margin-right: 5px; height: 35px; padding: 2px'}
    %a{:href => '#', :style => 'height: 34px; width: 50px'}
      - assets = object.assets
      - if assets.any?
        - asset = assets.last
        .thumb{:data => asset.attributes, style: 'width: 50px; height: 35px'}
          - if asset.data_processing
            = image_tag asset.url(:thumb), :processing => asset.id, :class => 'processing', :id => asset.id
          - else
            = image_tag asset.url(:thumb), id: asset.id
      - else
        .thumb
          = image_tag('http://s3-eu-west-1.amazonaws.com/rosfax/box.png')

