.wrapper
  .how_much
    %h4 Сколько стоит Rosfax?
    .price
      %span 1000 р
      %br/
      до 1 июня 2013
    До лета действует специальное предложение. Обычная цена 2000 руб. минус скидка 50%.
  .order
    %h4 Как пройти осмотр?
    %p Запишитесь на осмотр онлайн - в 2 клика! Выберите ближайший центр Rosfax, удобную дату/время и оставьте Ваш номер телефона. Вуаля! Вас уже ждут. Приезжайте!
    .order_link
      %a{href: new_schedule_path } Запись на осмотр
  .clr