.menu
  %ul.ul_reset
    %li.m5
      %a{:href => "/how-it-works"} Как работает Rosfax
    %li.m6
      %a{:href => "#"} Проверенные авто
    %li.m7
      %a{:href => "#"} Отзывы
    %li.m8
      %a{:href => "#"} Пункты осмотра
  .clr
%footer#footer
  \© 2009-2013 «Росфакс»
  #search
    %input{:placeholder => "search", :type => "text"}/
  #soc
    %ul.ul_reset
      %li
        %img{:height => "39", :src => asset_path 'home/tw.png', :width => "40"}/
      %li
        %img{:height => "38", :src => asset_path 'home/yt.png', :width => "39"}/
      %li
        %img{:height => "39", :src => asset_path 'home/fb.png', :width => "40"}/