#logo
  %a{:href => "/"}
    %img{src: asset_path('home/logo.png')}/
#top_menu
  %ul.ul_reset
    %li
      %a{:href => "/how-it-works"} Как работает Rosfax
    %li
      %a{:href => "#"} Отзывы
    %li
      %a{:href => "#"} Проверенные авто
    %li
      %a{:href => "#"} Пункты осмотра
#request
  %a{href: new_schedule_path } Запись на осмотр
