
.span6.well

  %table.table
    %thead
      %th Поле
      %th Значение
    %tbody
      %tr
        %td
          Производитель
        %td
          КБ Туполева
      %tr
        %td
          Марка
        %td
          Ту-144
      %tr
        %td
          Привод
        %td
          Полный
      %tr
        %td
          Топливо
        %td
          Солярка

