
.span6.well

  %table.table#car
    %thead
      %th Поле
      %th Значение
    %tbody
      %tr
        %td
          Производитель
        %td#mark
          = text_field 'report[car]', 'mark', :value => @report.car[:mark]
      %tr
        %td
          Марка
        %td#model
          = text_field 'report[car]', 'model', :value => @report.car[:model]
      %t
        %td
          Привод
        %td#year
          = text_field 'report[car]', 'year', :value => @report.car[:year]
      %tr
        %td
          Топливо
        %td#vin
          = text_field 'report[car]', 'vin', :value => @report.car[:vin]


