.hero-unit
  %h2 Список отчетов

  %table.table-bordered.table-striped
    %thead
      %tr
        %th Машина
        %th
        
    %tbody
      - @reports.each do |report|
        %tr
          %td= report.car_id
          %td
            .btn.btn-primary{:onclick => "window.location.href = '#{report_path(report)}'"}
              Изменить
            .btn.btn-danger.destroy_report{'data-confirm' => 'Точно?', :report_id => report.id}
              Уничтожить

  %br

  .btn.btn-primary{:onclick => "window.location.href = '#{new_report_path}'"}
    Новый отчет
