.row
  .span4.offset1
    %h4= t('vehicle_description')

.row
  .span4
    =t('report.make')
    %br/
    =t('report.vehicle_style')
    %br/
    =t('report.year')
  .span4
    =t('report.model')
    %br/
    =t('report.transmission')
    %br/
    =t('report.color')
  .span4
    =t('report.vin')
    %br/
    =t('report.engine_type')
    %br/
    =t('report.mileage')
%hr/
.row
  -@report.assets.each do |asset|
    =image_tag asset.url(:thumb)
%hr/
.row
  .span4.offset1
    %h4= t('report.body')

.row
  .span4
    = t('report.overal_exterior_condition')
  .span8
    .alert.alert-warning{:style => 'text-align: center'}
      %h4=t('report.fair')
.row
  .span4
    = t('report.overal_interior_condition')
  .span8
    .alert.alert-success{:style => 'text-align: center'}
      %h4=t('report.good')
%hr/
.row
  .span4.offset1
    %h4=t('report.engine')
.row
  .span2
    =image_tag asset_path '/assets/report/engine.gif'
  .span2
    =t('report.engine_condition')
  .span8
    .alert.alert-success{:style => 'text-align: center'}
      %h4=t('report.good')
.row
  .span2
    =image_tag asset_path '/assets/report/engine_oil_l.gif'
  .span2
    =t('report.engine_oil_level')
  .span8
    .alert.alert-error{:style => 'text-align: center'}
      %h4=t('report.bad')

.row
  .span4.offset1
    %h4=t('report.transmission')
.row
  .span4
    =t('report.engine_condition')
  .span8
    .alert.alert-success{:style => 'text-align: center'}
      %h4=t('report.good')
.row
  .span4
    =t('report.engine_oil_level')
  .span8
    .alert.alert-error{:style => 'text-align: center'}
      %h4=t('report.bad')