-#.row-fluid
-#  = 12.times do |i|
-#    .span1{:style => 'background: lightgray; height: 10px'}

%p#notice= notice
.row-fluid
  .span12
    .tabbable.tabs-left
      %ul.nav.nav-tabs
        %li
          %a{"data-toggle" => "tab", :href => "#lA"} Фото
        %li
          %a{"data-toggle" => "tab", :href => "#lB"} Чеклист
        %li.active
          %a{"data-toggle" => "tab", :href => "#lC"} Дефекты
        %li
          %a{"data-toggle" => "tab", :href => "#lD"} Тест-драйв
        %li
          %a{"data-toggle" => "tab", :href => "#lE"} Комплектация
      .tab-content
        - for symbol in %w(A B C D E F G H)
          = render "reports/tabs/l#{symbol}"




