<!DOCTYPE html>
<html>
<head>
  <title>Tradein</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "jquery", 'twitter/bootstrap', 'bootstrap', 'index' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container-fluid'>
  <%= yield %>
</div>
</body>
</html>
